<nav class="navbar navbar-expand-lg navbar-light bg-primary">

  <div class="container">

    <a class="navbar-brand text-white" href="#">TarefasWeb</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link text-white" routerLink="/pages/autenticar-usuario">Autenticar Usuário</a>
        </li>

        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link text-white" routerLink="/pages/criar-usuario">Criar conta de usuário</a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link text-white" routerLink="/admin/dashboard">Dashboard</a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link text-white" routerLink="/admin/criar-tarefas">Criar tarefa</a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link text-white" routerLink="/admin/consultar-tarefas">Consultar tarefas</a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated">
          <div class="text-white mt-2 ms-3 me-3">
            <strong>{{nomeUsuario}}</strong> ({{emailUsuario}})
          </div>
        </li>


        <li class="nav-item" *ngIf="isAuthenticated">
          <button class="nav-link text-white" (click)="logout()">
            Sair do sistema
          </button>
        </li>

      </ul>
    </div>
  </div>
</nav>