<div class="mb-3">
    <h4>Editar tarefas</h4>
    <p>Utilize o formulário para alterar os dados da tarefa selecionada.</p>
</div>

<div class="container">

    <div class="mb-3">
        <app-messages [texto]="mensagem" />
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- campo oculto -->
        <input type="hidden" formControlName="id" />

        <div class="row mb-3">
            <div class="col-md-6">
                <label>Nome da Tarefa</label>
                <input type="text" class="form-control" formControlName="nome" />
                <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">
                    Por favor, informe o nome da tarefa.
                </div>
            </div>
            <div class="col-md-3">
                <label>Data</label>
                <input type="date" class="form-control" formControlName="data" />
                <div class="text-danger" *ngIf="f['data'].touched && f['data'].invalid">
                    Por favor, informe a data da tarefa.
                </div>
            </div>
            <div class="col-md-3">
                <label>Hora</label>
                <input type="time" class="form-control" formControlName="hora" />
                <div class="text-danger" *ngIf="f['hora'].touched && f['hora'].invalid">
                    Por favor, informe a hora da tarefa.
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label>Prioridade</label>
                <select class="form-select" formControlName="prioridade">
                    <option value="">Selecione</option>
                    <option value="1">Baixa</option>
                    <option value="2">Média</option>
                    <option value="3">Alta</option>
                </select>
                <div class="text-danger" *ngIf="f['prioridade'].touched && f['prioridade'].invalid">
                    Por favor, selecione a prioridade da tarefa.
                </div>
            </div>

            <div class="col-md-4">
                <label>Tipo</label>
                <select class="form-select" formControlName="tipo">
                    <option value="">Selecione</option>
                    <option value="1">Trabalho</option>
                    <option value="2">Estudo</option>
                    <option value="3">Familia</option>
                    <option value="4">Lazer</option>
                    <option value="5">Outros</option>
                </select>
                <div class="text-danger" *ngIf="f['tipo'].touched && f['tipo'].invalid">
                    Por favor, selecione o tipo da tarefa.
                </div>
            </div>

            <div class="col-md-4">
                <label>Categoria</label>
                <select class="form-select" formControlName="categoria">
                    <option value="">Selecione</option>
                    <option value="1">Tarefa individual</option>
                    <option value="2">Tarefa em conjunto com outras
                        pessoas</option>
                </select>
                <div class="text-danger" *ngIf="f['categoria'].touched && f['categoria'].invalid">
                    Por favor, selecione a categoria da tarefa.
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <label>Descrição</label>
                <textarea class="form-control" rows="3" formControlName="descricao"></textarea>
                <div class="text-danger" *ngIf="f['descricao'].touched && f['descricao'].invalid">
                    Por favor, informe a descrição da tarefa.
                </div>
            </div>
        </div>

        <div class="mt-3 mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                Salvar
            </button>
        </div>
    </form>
</div>