<app-navbar />

<!-- <h1>Aula 1 - Angular</h1> -->
<!-- área principal da página -->

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <!-- component baseado na rota de navegação -->
            <router-outlet />
        </div>
    </div>
</div>

<!-- componente de animação do ngx-spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">Processando, por favor aguarde...</p></ngx-spinner
>
